@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  padding: 0%;
  color: white !important;
}

/* .container-c{
  height: 100vh !important;
} */
.girl {
  clip-path: circle() !important;
  width: 70% !important;
  height: 70% !important;
  box-shadow: 10px 10px 10px white !important;
}
